<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="inputs.html">Inputs</a></li>
      <li><a href="../icons/icons.html">Icons</a></li>
    </ul>
</head>

<body>
    <section class="inputs">
        <h1>Inputs</h1>
      
        <div class="inputs-grid">
      
            <div class="input-group">
                <label>Date</label>           
                <div class="input-wrapper">
                  <input id="date-display" type="text" placeholder="DD/MM/YYYY">
                  <i id="calendar-btn" class="icon icon-calendar"></i>
                  <input id="date-hidden" type="date" class="hidden-date">
                </div>
              </div>
              <script>
                const displayInput = document.getElementById("date-input");
                const hiddenInput = document.getElementById("hidden-date");
                const icon = document.getElementById("calendar-btn");
              
                // open picker from icon
                icon.addEventListener("click", () => {
                  if (hiddenInput.showPicker) {
                    hiddenInput.showPicker();
                  } else {
                    hiddenInput.focus();
                  }
                });
              
                // when date is picked, show it in text field
                hiddenInput.addEventListener("change", () => {
                  displayInput.value = hiddenInput.value;
                });
              </script>
      
          <div class="input-group">
            <label>Search</label>
            <div class="input-wrapper">
              <input type="search" placeholder="Search">
              <i class="icon icon-search"></i>
            </div>
          </div>
      
          <div class="input-group">
            <label>Email</label>
            <div class="input-wrapper">
              <input type="email" placeholder="example@email.com">
              <i class="icon icon-email"></i>
            </div>
          </div>
      
          <div class="input-group">
            <label>Phone</label>
            <div class="input-wrapper">
              <input type="tel" placeholder="+353 00000000">
              <i class="icon icon-phone"></i>
            </div>
          </div>
      
          <div class="input-group">
            <label>Quantity</label>
            <div class="input-wrapper">
              <input type="number" placeholder="000">
              <div class="input-actions">
                <button class="icon-button">+</button>
                <button class="icon-button">−</button>
              </div>
            </div>
          </div>
  
          <div class="input-group">
            <label>Time</label>
            <div class="input-wrapper">
              <input type="text" placeholder="00:00">
              <i class="icon icon-time"></i>
            </div>
          </div>
  
          <div class="input-group">
            <label>Password</label>
            <div class="input-wrapper">
              <input type="password" placeholder="--------">
              <i class="icon icon-eye"></i>
            </div>
          </div>
  
          <div class="input-group">
            <label>Eircode</label>
            <div class="input-wrapper">
              <input type="text" placeholder="Eircode">
              <i class="icon icon-location"></i>
            </div>
          </div>
  
          <div class="input-group">
            <label>URL</label>
            <div class="input-wrapper">
              <input type="url" placeholder="URL">
              <i class="icon icon-link"></i>
            </div>
          </div>

          <div class="input-group is-disabled">
            <label>URL</label>
            <div class="input-wrapper">
              <input type="text" placeholder="URL" disabled>
              <i class="icon icon-link"></i>
            </div>
            <p class="helper-text">Unavailable Input</p>
          </div>

          <div class="input-group has-error">
            <label>URL</label>
            <div class="input-wrapper">
              <input type="text" placeholder="URL">
              <i class="icon icon-error"></i>
            </div>
            <p class="error-message">Error Message</p>
          </div>

        </div>
      </section>
  </body>
  </html>