<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="inputs.html">Inputs</a></li>
      <li><a href="../icons/icons.html">Icons</a></li>
    </ul>
</head>

<body>
    <section class="inputs">
        <h1>Inputs</h1>
    
        <div class="inputs-grid">
    
          <!-- Date -->
          <div class="input-group">
            <label for="date">Date</label>
            <div class="input-wrapper">
              <i class="icon icon-calendar"></i>
              <input id="date" type="text" placeholder="DD/MM/YY" />
            </div>
          </div>
    
          <!-- Search -->
          <div class="input-group">
            <label for="search">Search</label>
            <div class="input-wrapper">
              <i class="icon icon-search"></i>
              <input id="search" type="search" placeholder="Search" />
            </div>
          </div>
    
          <!-- Email -->
          <div class="input-group">
            <label for="email">Email</label>
            <div class="input-wrapper">
              <i class="icon icon-email"></i>
              <input id="email" type="email" placeholder="example@email.com" />
            </div>
          </div>
    
          <!-- Phone -->
          <div class="input-group">
            <label for="phone">Phone</label>
            <div class="input-wrapper">
              <i class="icon icon-phone"></i>
              <input id="phone" type="tel" placeholder="+353 00000000" />
            </div>
          </div>
    
          <!-- Quantity -->
          <div class="input-group">
            <label for="quantity">Quantity</label>
            <div class="input-wrapper">
              <button type="button" class="icon-button" aria-label="Decrease">
                <i class="icon icon-minus"></i>
              </button>
              <input id="quantity" type="number" placeholder="000" />
              <button type="button" class="icon-button" aria-label="Increase">
                <i class="icon icon-plus"></i>
              </button>
            </div>
          </div>
    
          <!-- Time -->
          <div class="input-group">
            <label for="time">Time</label>
            <div class="input-wrapper">
              <i class="icon icon-time"></i>
              <input id="time" type="text" placeholder="00:00" />
            </div>
          </div>
    
          <!-- Password visible -->
          <div class="input-group">
            <label for="password-visible">Password</label>
            <div class="input-wrapper">
              <input id="password-visible" type="password" placeholder="----------" />
              <button class="icon-button">
                <i class="icon icon-eye"></i>
              </button>
            </div>
          </div>
    
          <!-- Eircode -->
          <div class="input-group">
            <label for="eircode">Eircode</label>
            <div class="input-wrapper">
              <i class="icon icon-location"></i>
              <input id="eircode" type="text" placeholder="Eircode" />
            </div>
          </div>
    
          <!-- Password hidden -->
          <div class="input-group">
            <label for="password-hidden">Password</label>
            <div class="input-wrapper">
              <input id="password-hidden" type="password" placeholder="----------" />
                <i class="icon icon-eye-off"></i>
            </div>
          </div>
    
          <!-- URL -->
          <div class="input-group">
            <label for="url">URL</label>
            <div class="input-wrapper">
              <i class="icon icon-url"></i>
              <input id="url" type="url" placeholder="URL" />
            </div>
          </div>
    
          <!-- URL with error -->
          <div class="input-group has-error">
            <label for="url-error">URL</label>
            <div class="input-wrapper">
             <i class="icon icon-warning"></i>
              <input id="url-error" type="url" placeholder="URL" />
            </div>
            <p class="error-message">Error Message</p>
          </div>
    
          <!-- Disabled URL -->
          <div class="input-group is-disabled">
            <label for="url-disabled">URL</label>
            <div class="input-wrapper">
              <i class="icon icon-url"></i>
              <input id="url-disabled" type="url" placeholder="URL" disabled />
            </div>
            <p class="helper-text">Unavailable Input</p>
          </div>
    
        </div>
      </section>
  </body>
  </html>