<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="inputs.html">Inputs</a></li>
      <li><a href="../icons/icons.html">Icons</a></li>
      <li><a href="../dropdowns/dropdown.html">Dropdown</a></li>
    </ul>
</head>

<body>
    <section class="inputs">
        <h1>Inputs</h1>
    
    <p>Input boxes are used to collect information like names, emails, dates, and numbers.
         Every input should have a label so users know what to type.
          You can also add icons to help show what the input is for, like a calendar for dates or an envelope for email.
           Inputs should clearly show different states, such as normal, disabled, or error,
            so users know if something is wrong or not available.
        </br>
        To use this design system, copy the HTML structure and use the same class names like input-group, input-wrapper,
         has-error, and is-disabled. Do not style inputs separately—use the shared SCSS styles instead. This keeps everything
          looking the same and makes it easier to build clean, consistent forms across your project.</p>

        </br>
      
        <div class="inputs-grid">
      
          <div class="field-block">
      
            <div class="input-group">
              <label>Date Selector</label>
              <div class="input-wrapper">
                <input id="date-input" type="text" placeholder="Select date" readonly>
                <i id="calendar-btn" class="icon icon-calendar"></i>
              </div>
            </div>
      
        </br>

            <textarea class="code" readonly>
      <div class="input-group">
        <label>Date Selector</label>
        <div class="input-wrapper">
          <input type="text" placeholder="Select date" readonly>
          <i class="icon icon-calendar"></i>
        </div>
      </div>
            </textarea>
          </div>
      
 
          <div class="field-block">
      
            <div class="input-group">
              <label>Search</label>
              <div class="input-wrapper">
                <input type="search" placeholder="Search">
                <i class="icon icon-search"></i>
              </div>
            </div>

        </br>
      
            <textarea class="code" readonly>
      <div class="input-group">
        <label>Search</label>
        <div class="input-wrapper">
          <input type="search" placeholder="Search">
          <i class="icon icon-search"></i>
        </div>
      </div>
            </textarea>
          </div>
      

          <div class="field-block">
      
            <div class="input-group">
              <label>Email</label>
              <div class="input-wrapper">
                <input type="email" placeholder="example@email.com">
                <i class="icon icon-email"></i>
              </div>
            </div>

        </br>
      
            <textarea class="code" readonly>
      <div class="input-group">
        <label>Email</label>
        <div class="input-wrapper">
          <input type="email" placeholder="example@email.com">
          <i class="icon icon-email"></i>
        </div>
      </div>
            </textarea>      
          </div>
      
          <div class="field-block">
      
            <div class="input-group">
              <label>Phone</label>
      
              <div class="input-wrapper">
                <input type="tel" placeholder="+353 00000000">
                <i class="icon icon-phone"></i>
              </div>
            </div>

        </br>
      
            <textarea class="code" readonly>
      <div class="input-group">
        <label>Phone</label>
        <div class="input-wrapper">
          <input type="tel" placeholder="+353 00000000">
          <i class="icon icon-phone"></i>
        </div>
      </div>
            </textarea>
      
          </div>
      
          <div class="field-block">
      
            <div class="input-group">
              <label>Time</label>
      
              <div class="input-wrapper">
                <input type="text" placeholder="00:00">
                <i class="icon icon-time"></i>
              </div>
            </div>

        </br>
      
            <textarea class="code" readonly>
      <div class="input-group">
        <label>Time</label>
        <div class="input-wrapper">
          <input type="text" placeholder="00:00">
          <i class="icon icon-time"></i>
        </div>
      </div>
            </textarea>
      
          </div>
      
          <div class="field-block">
      
            <div class="input-group">
              <label>Password</label>
      
              <div class="input-wrapper">
                <input type="password" placeholder="--------">
                <i class="icon icon-eye"></i>
              </div>
            </div>

        </br>
      
     <textarea class="code" readonly>
     <div class="input-group">
     <label>Password</label>
     <div class="input-wrapper">
     <input type="password" placeholder="--------">
     <i class="icon icon-eye"></i>
     </div>
     </div>
            </textarea>
          </div>
      
          <div class="field-block">

            <div class="input-group">
              <label>Eircode</label>
              <div class="input-wrapper">
                <input type="text" placeholder="Eircode">
                <i class="icon icon-location"></i>
              </div>
            </div>

        </br>
        </br>
          
            <textarea class="code" readonly>
          <div class="input-group">
            <label>Eircode</label>
            <div class="input-wrapper">
              <input type="text" placeholder="Eircode">
              <i class="icon icon-location"></i>
            </div>
          </div>
            </textarea>
          </div>


    <div class="field-block">

      <div class="input-group is-disabled">
        <label>URL</label>
        <div class="input-wrapper">
          <input type="text" placeholder="Unavailable input" disabled>
          <i class="icon icon-link"></i>
        </div>
        <p class="helper-text">Unavailable Input</p>
      </div>


      <textarea class="code" readonly>
<div class="input-group is-disabled">
  <label>URL</label>
  <div class="input-wrapper">
    <input type="text" placeholder="Unavailable input" disabled>
    <i class="icon icon-link"></i>
  </div>
  <p class="helper-text">Unavailable Input</p>
</div>
      </textarea>
    </div>

 
    <div class="field-block">

      <div class="input-group has-error">
        <label>URL</label>
        <div class="input-wrapper">
          <input type="text" placeholder="URL">
          <i class="icon icon-error"></i>
        </div>
        <p class="error-message">Error Message</p>
      </div>

    </br>

      <textarea class="code" readonly>
<div class="input-group has-error">
  <label>URL</label>
  <div class="input-wrapper">
    <input type="text" placeholder="URL">
    <i class="icon icon-error"></i>
  </div>
  <p class="error-message">Error Message</p>
</div>
      </textarea>
    </div>

        </div>
      </section>
      
      <script>
        const input = document.getElementById("date-input");
        const icon = document.getElementById("calendar-btn");
      
        icon.addEventListener("click", () => {
          if (input.showPicker) {
            input.showPicker();
          } else {
            input.focus();
          }
        });
      </script>

      
  </body>
  </html>