<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Messages</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="../inputs/inputs.html">Inputs</a></li>
      <li><a href="../icons/icons.html">Icons</a></li>
      <li><a href="../dropdowns/dropdown.html">Dropdown</a></li>
      <li><a href="message.html">Message</a></li>
      <li><a href="../check/check.html">Checkboxes</a></li>
    </ul>
</head>

<body>

    <h1>Messages</h1>
  <p>Success, error, and warning messages are used to give users clear feedback after an action.
     Success messages confirm that something worked correctly, error messages show when something
      has gone wrong, and warning messages alert users to something they should check before continuing.
       In this design system, you can simply copy and paste the provided HTML into your project and apply
        the correct classes (like message--success, message--error, or message--warning). As long as you
         include the design system stylesheet, the messages will automatically be styled and display correctly
          without any extra setup.
  </p>


<div class="message message--error">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Error Message</h3>
    <p class="message__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
  </div>
</div>

<textarea class="code" readonly> <div class="message message--error">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Error Message</h3>
    <p class="message__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
  </div>
</div> </textarea>

<div class="message message--error-outline">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Invalid Form</h3>
  </div>
</div>

<textarea class="code" readonly> <div class="message message--error-outline">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Invalid Form</h3>
  </div>
</div> </textarea>

<div class="message message--success">
  <div class="message__icon">✓</div>
  <div class="message__content">
    <h3 class="message__title">Success Message</h3>
    <p class="message__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
  </div>
</div>

<textarea class="code" readonly> <div class="message message--success">
  <div class="message__icon">✓</div>
  <div class="message__content">
    <h3 class="message__title">Success Message</h3>
    <p class="message__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </p>
  </div>
</div> </textarea>

<div class="message message--success-outline">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Form Successful</h3>
  </div>
</div>

<textarea class="code" readonly> <div class="message message--success-outline">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Form Successful</h3>
  </div>
</div> </textarea>

<div class="message message--warning">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Warning Message</h3>
    <p class="message__text">
      Please review the highlighted fields before continuing.
    </p>
  </div>
</div>

<textarea class="code" readonly> <div class="message message--warning">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Warning Message</h3>
    <p class="message__text">
      Please review the highlighted fields before continuing.
    </p>
  </div>
</div> </textarea>

<div class="message message--warning-outline">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Check Your Details</h3>
  </div>
</div>

<textarea class="code" readonly> <div class="message message--warning-outline">
  <div class="message__icon">!</div>
  <div class="message__content">
    <h3 class="message__title">Check Your Details</h3>
  </div>
</div> </textarea>

</body>