<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="button.html">Buttons</a></li>
    </ul>
</head>

<body>

 
    <div class="container">
        <h1>Buttons</h1>
   
        <p>Buttons trigger actions and allow users to interact with the interface. They communicate what will happen 
            when a user clicks or taps them. Buttons should always use clear, action-oriented labels and follow
             consistent styling across the product. Buttons are one of the most frequently used interactive elements
              in the interface and should be used to initiate immediate actions such as submitting forms, saving changes,
               navigating workflows, or confirming decisions.</p>
        </br>
    </br>
        <div class="buttons-grid">
          <div class="button-column">
            <h2>Primary</h2>
    
            <button class="btn btn-primary small">Primary</button>
            <textarea class="code" readonly> <button class="btn btn-primary small">Primary</button> </textarea>
            <button class="btn btn-primary small">Small</button>
            <textarea class="code" readonly> <button class="btn btn-primary small">Small</button> </textarea>
            <button class="btn btn-primary medium">Medium</button>
            <textarea class="code" readonly> <button class="btn btn-primary medium">Medium</button> </textarea>
            <button class="btn btn-primary large">Large</button>
            <textarea class="code" readonly> <button class="btn btn-primary large">Large</button> </textarea>
    
            <button class="btn btn-outline-primary small">Small</button>
            <textarea class="code" readonly> <button class="btn btn-outline-primary small">Small</button> </textarea>
            <button class="btn btn-outline-primary medium">Medium</button>
            <textarea class="code" readonly> <button class="btn btn-outline-primary medium">Medium</button> </textarea>
            <button class="btn btn-outline-primary large">Large</button>
            <textarea class="code" readonly> <button class="btn btn-outline-primary large">Large</button> </textarea>
          </div>
    
          <div class="button-column">
            <h2>Secondary</h2>
    
            <button class="btn btn-secondary small">Secondary</button>
            <textarea class="code" readonly> <button class="btn btn-secondary small">Secondary</button> </textarea>
            <button class="btn btn-secondary small">Small</button>
            <textarea class="code" readonly> <button class="btn btn-secondary small">Small</button> </textarea>
            <button class="btn btn-secondary medium">Medium</button>
            <textarea class="code" readonly> <button class="btn btn-secondary medium">Medium</button> </textarea>
            <button class="btn btn-secondary large">Large</button>
            <textarea class="code" readonly> <button class="btn btn-secondary large">Large</button> </textarea>
    
            <button class="btn btn-outline-secondary small">Small</button>
            <textarea class="code" readonly> <button class="btn btn-outline-secondary small">Small</button> </textarea>
            <button class="btn btn-outline-secondary medium">Medium</button>
            <textarea class="code" readonly> <button class="btn btn-outline-secondary medium">Medium</button> </textarea>
            <button class="btn btn-outline-secondary large">Large</button>
            <textarea class="code" readonly> <button class="btn btn-outline-secondary large">Large</button> </textarea>
          </div>
    
          <div class="button-column">
            <h2>Error</h2>
    
            <button class="btn btn-error small">Error</button>
            <textarea class="code" readonly> <button class="btn btn-error small">Error</button> </textarea>
            <button class="btn btn-error small">Small</button>
            <textarea class="code" readonly> <button class="btn btn-error small">Small</button> </textarea>
            <button class="btn btn-error medium">Medium</button>
            <textarea class="code" readonly> <button class="btn btn-error medium">Medium</button> </textarea>
            <button class="btn btn-error large">Large</button>
            <textarea class="code" readonly> <button class="btn btn-error large">Large</button> </textarea>
    
            <button class="btn btn-outline-error small">Small</button>
            <textarea class="code" readonly> <button class="btn btn-outline-error small">Small</button> </textarea>
            <button class="btn btn-outline-error medium">Medium</button>
            <textarea class="code" readonly> <button class="btn btn-outline-error medium">Medium</button> </textarea>
            <button class="btn btn-outline-error large">Large</button>
            <textarea class="code" readonly> <button class="btn btn-outline-error large">Large</button> </textarea>
          </div>
        </div>
      </div>

</body>
</html>
