<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="button.html">Buttons</a></li>
    </ul>
</head>

<body>

 <div class="container">
    <h1 class="page-title">Buttons</h1>

    <p class="page-description"> Buttons trigger actions and allow users to interact with the interface.
         They communicate what will happen when a user clicks or taps them.
         Buttons should always use clear, action-oriented labels and follow consistent styling across the product. Buttons
        are one of the most frequently used interactive elements in the interface and should be used to initiate
         immediate actions such as submitting forms, saving changes, navigating workflows, or confirming decisions.</p>
 </br>

    <div class="button-container">
        <label>Primary Button</label>
        <button class="btn.primary">Primary</button>
    </div>

    </br>

    <div class="button-container">
        <label>Secondary Button</label>
        <button class="btn btn-secondary">Secondary</button>
    </div>

    </br>

    <div class="button-container">
        <label>Outline Button</label>
        <button class="btn btn-outline">Outline</button>
    </div>

    </br>

    <div class="button-container">
        <label>Disabled Button</label>
        <button class="btn btn-primary" disabled>Disabled</button>
    </div>

</div>

</body>
</html>
