@use '../../foundations/index' as *;


.btn {
  font-family: inherit;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;


  &.small {
    min-width: 136px;
    padding: 8px 16px;
    font-size: 24px;
  }

  &.medium {
    min-width: 180px;
    padding: 12px 24px;
    font-size: 24px;
  }

  &.large {
    min-width: 230px;
    padding: 14px 28px;
    font-size: 24px;
  }

  
  &.btn-primary {
    background-color: $primary-700;
    color: $neutral-100;

    &:hover:not(:disabled) {
      background-color: $primary-900;
    }
  }

  &.btn-secondary {
    background-color: $secondary-700;
    color: $neutral-100;

    &:hover:not(:disabled) {
      background-color: $secondary-900;
    }
  }

  &.btn-error {
    background-color: $neutral-500;
    color: $neutral-100;

    &:hover:not(:disabled) {
      background-color: $neutral-700;
    }
  }

  
  &.btn-outline-primary {
    background-color: transparent;
    border-color: $primary-700;
    color: $primary-700;

    &:hover:not(:disabled) {
      background-color: rgba($primary-700, 0.08);
    }
  }

  &.btn-outline-secondary {
    background-color: transparent;
    border-color: $secondary-700;
    color: $secondary-700;

    &:hover:not(:disabled) {
      background-color: rgba($secondary-700, 0.08);
    }
  }

  &.btn-outline-error {
    background-color: transparent;
    border-color: $neutral-500;
    color: $neutral-500;

    &:hover:not(:disabled) {
      background-color: rgba($neutral-500, 0.08);
    }
  }


  &:disabled {
    opacity: 1;
    cursor: not-allowed;
    background-color: $neutral-300;
    color: $neutral-100;
    border-color: $neutral-300;
  }
}