<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Icons</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="../inputs/inputs.html">Inputs</a></li>
      <li><a href="icons.html">Icons</a></li>
      <li><a href="../dropdowns/dropdown.html">Dropdown</a></li>
      <li><a href="../messages/message.html">Message</a></li>
      <li><a href="../check/check.html">Checkboxes</a></li>
    </ul>
</head>

<body>
<h1>Icons</h1>
</br>
<p>Icons are used to visually represent actions, information, or content, making interfaces quicker and easier to understand.
     They help users recognise things at a glance, like a search icon or a warning symbol.
      Icons also support accessibility by providing visual cues alongside text, helping users with different
       abilities better understand the interface—especially when paired with labels or alternative text for screen readers.
        In this design system, you can copy and paste the icon HTML into your project and apply the relevant classes.
         As long as you include the design system stylesheet, the icons will automatically be styled and display correctly
          without any extra setup.</p>
</br>
<div class="icons-grid">
    <div class="icon-item"> 
    <i class="icon icon-home"></i> 

    <textarea class="code" readonly> <i class="icon icon-home"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item">
    <i class="icon icon-settings"></i>  
    <textarea class="code" readonly> <i class="icon icon-settings"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-calendar"></i> 

    <textarea class="code" readonly> <i class="icon icon-calendar"></i>  </textarea>
</div>
</br>
</br>  

<div class="icon-item">
<i class="icon icon-more"></i> 
<textarea class="code" readonly> <i class="icon icon-more"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-phone"></i> 

    <textarea class="code" readonly> <i class="icon icon-phone"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item"> 
    <i class="icon icon-message"></i> 

    <textarea class="code" readonly> <i class="icon icon-message"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-profile"></i> 

    <textarea class="code" readonly> <i class="icon icon-profile"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-menu"></i> 

    <textarea class="code" readonly> <i class="icon icon-menu"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
<i class="icon icon-lock"></i> 

    <textarea class="code" readonly> <i class="icon icon-lock"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-unlock"></i> 

    <textarea class="code" readonly> <i class="icon icon-unlock"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-sound"></i> 

    <textarea class="code" readonly> <i class="icon icon-sound"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-warning"></i> 
 
    <textarea class="code" readonly> <i class="icon icon-warning"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-save"></i> 
 
    <textarea class="code" readonly> <i class="icon icon-save"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-bell"></i> 

    <textarea class="code" readonly> <i class="icon icon-bell"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-bin"></i> 

    <textarea class="code" readonly> <i class="icon icon-bin"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-email"></i> 

    <textarea class="code" readonly> <i class="icon icon-email"></i>  </textarea>
    </div>
</br>
</br> 
<div class="icon-item">
    <i class="icon icon-search"></i> 
 
        <textarea class="code" readonly> <i class="icon icon-search"></i>  </textarea>
        </div>
    </br>
    </br>  
<div class="icon-item"> 
    <i class="icon icon-time"></i> 

    <textarea class="code" readonly> <i class="icon icon-time"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-location"></i> 
 
    <textarea class="code" readonly> <i class="icon icon-location"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-url"></i> 
 
    <textarea class="code" readonly> <i class="icon icon-url"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-error"></i> 
 
    <textarea class="code" readonly> <i class="icon icon-error"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-tick"></i> 

    <textarea class="code" readonly> <i class="icon icon-tick"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-eye"></i> 

    <textarea class="code" readonly> <i class="icon icon-eye"></i>  </textarea>
    </div>
</br>  
</br> 
</div>
</body>


