<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="../inputs/inputs.html">Inputs</a></li>
      <li><a href="icons.html">Icons</a></li>
    </ul>
</head>

<body>
<h1>Icons</h1>
</br>
<p>Icons are small visual symbols that represent actions, objects, or ideas. They can be used to guide users 
    through an interface, indicate functions like “search” or “settings,” highlight important information,
     or improve navigation. Clear and consistent icons help make interfaces easier to understand and more visually 
     engaging.</p>
</br>
</br>
    <i class="icon icon-home"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-home"></i>  </textarea>
</br>  
    <i class="icon icon-settings"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-settings"></i>  </textarea>
</br>
    <i class="icon icon-calendar"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-calendar"></i>  </textarea>
</br>

<textarea class="code" readonly>  </textarea>
</body>