<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Colours</title>
    <link rel="stylesheet" type="text/css" href="../../../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../../../css/webstyle.css"/>
    <ul>
      <li><a href="../../../index.html">Cover</a></li>
      <li><a href="../../../docs/colours.html">Colours</a></li>
      <li><a href="../../../docs/typography.html">Typography</a></li>
      <li><a href="../../../docs/spacing.html">Spacing</a></li>
      <li><a href="../buttons/button.html">Buttons</a></li>
      <li><a href="../inputs/inputs.html">Inputs</a></li>
      <li><a href="icons.html">Icons</a></li>
      <li><a href="../dropdowns/dropdown.html">Dropdown</a></li>
    </ul>
</head>

<body>
<h1>Icons</h1>
</br>
<p>Icons are small visual symbols that represent actions, objects, or ideas. They can be used to guide users 
    through an interface, indicate functions like “search” or “settings,” highlight important information,
     or improve navigation. Clear and consistent icons help make interfaces easier to understand and more visually 
     engaging.</p>
</br>
</br>
<div class="icons-grid">
    <div class="icon-item"> 
    <i class="icon icon-home"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-home"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item">
    <i class="icon icon-settings"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-settings"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-calendar"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-calendar"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
<i class="icon icon-more"></i> 
<textarea class="code" readonly> <i class="icon icon-more"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-phone"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-phone"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item"> 
    <i class="icon icon-message"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-message"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-profile"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-profile"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
    <i class="icon icon-menu"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-menu"></i>  </textarea>
</div>
</br>
</br>  
<div class="icon-item">
<i class="icon icon-lock"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-lock"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-unlock"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-unlock"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-sound"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-sound"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-warning"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-warning"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-save"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-save"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-bell"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-bell"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-bin"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-bin"></i>  </textarea>
</div>
</br>
</br> 
<div class="icon-item">
<i class="icon icon-email"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-email"></i>  </textarea>
    </div>
</br>
</br> 
<div class="icon-item">
    <i class="icon icon-search"></i> 
    </br>  
        <textarea class="code" readonly> <i class="icon icon-search"></i>  </textarea>
        </div>
    </br>
    </br>  
<div class="icon-item"> 
    <i class="icon icon-time"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-time"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-location"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-location"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-url"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-url"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-error"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-error"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-tick"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-tick"></i>  </textarea>
    </div>
</br>  
</br>  
<div class="icon-item"> 
    <i class="icon icon-eye"></i> 
</br>  
    <textarea class="code" readonly> <i class="icon icon-eye"></i>  </textarea>
    </div>
</br>  
</br> 
</div>
</body>


