@use '../../foundations/index' as *;


i.icon{
    width: 30px;
    height: 30px;
    display: block;
  }
  
i.icon-home{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 26 27'%3E%3Cpath d='M1 12.1455V25.3455H10V18.1455H16.3V25.3455H25V12.1455L12.7 1.34546L1 12.1455Z' stroke='%23000632' stroke-width='2'/%3E%3C/svg%3E");
}

i.icon-settings{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 27 26'%3E%3Cpath d='M10.8729 25H15.796L16.4114 21.1951L19.1806 19.7317L22.5652 20.9024L25.0267 16.8049L22.2575 14.7561V11.5366L25.3344 8.90244L22.5652 5.09756L19.4883 6.26829L16.4114 4.80488L15.796 1H10.8729L10.2575 4.80488L7.48827 6.26829L3.79597 5.09756L1.33443 8.90244L4.41135 11.5366V14.4634L1.33443 16.8049L4.10366 21.1951L7.48827 19.7317L10.2575 21.1951L10.8729 25Z' stroke='%23000632' stroke-width='2'/%3E%3Cpath d='M13.3344 10.1951C15.0389 10.1951 16.3343 11.4973 16.3344 12.9998C16.3344 14.5024 15.039 15.8045 13.3344 15.8045C11.6299 15.8045 10.3344 14.5024 10.3344 12.9998C10.3345 11.4973 11.6299 10.1951 13.3344 10.1951Z' fill='%23000632' stroke='%23000632' stroke-width='2'/%3E%3C/svg%3E");
}
